html {
	margin: 0;
}


body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Benne', sans-serif;
  font-style: normal;
  font-weight: 400;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	max-width: 80%;
	margin: 0 auto;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	;
}

img {
	max-width: 100%;
}

h1{
font-weight: bold;
font-size: 30px;
font-family: 'Festive', cursive;
}
h2 {
	font-weight: bold;
	color: rgb(98, 94, 94);
}
strong {
	font-weight: bold;
}

main {
display: flex;
flex-direction: column;
text-align: center;
}
header {
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer {
	display: flex;
	text-align: center;
	flex-direction: column;
}

.skill > p {
	text-align: center;
	align-items: center;
}

a {
	color:darkblue;
}

a:hover {
	color: lightskyblue;
	transform: scale(1.1);
}

@media (min-width: 768px) {
	.header-nav .main-nav{
		display: flex;
		justify-content: center;
	}

	.header-nav .name {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.header-img {
		display: flex;
		align-items: center;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		flex-basis: calc(50% - 20px);
	}

	.footer-nav {
		display: flex;
		justify-content: center;
	}

	footer .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.skill {
		display:flex;
		justify-content: center;
	}

}

@media (min-width: 1024px) {
	
	.header-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	main {
		display: flex;
	}

	.row {
		flex-wrap: wrap;
		flex: 1;
	}
	
	footer .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer-nav {
		display: flex;
	}

	.skill {
		display: flex;
		justify-content: space-around;
	}

	.col {
		flex-basis: calc(33% - 20px);
	}
}
